{% extends "user/layout.html"%} {% block content %}
<div class="container">
  {% with messages=get_flashed_messages(with_categories=true) %} {% if messages
  %} {% for category,message in messages %}
  <div class="alert alert-{{category}}">
    <strong>{{message}}</strong>
  </div>
  {% endfor %} {% endif %} {% endwith %} {% include 'user/navbar.html' %}
  <div class="container">
    <div class="my-2">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>course</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{users.id}}</td>
              <td>{{users.fname}}</td>
              <td>{{users.lname}}</td>
              <td>{{users.username}}</td>
              <td>{{users.email}}</td>
              <td>{{users.course}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 my-2 col-sm-12">
    <a href="/user/meet-links/{{users.course}}" class="btn btn-info w-full"
      >{{users.course}} class Links</a
    >
  </div>
</div>
{% endblock content %}
